@model MEF.PROYECTO.Entity.CargaMasiva.Cls_Ent_Carga_Cabecera
@{
    ViewBag.Title = "Mantenimiento PAC";
}
<link href="~/Areas/Carga/Styles/Carga/mantenimientoFAG.css" rel="stylesheet" />
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header bg-danger">

            <h5 class="modal-title" id="staticBackdropLabel">Mantenimiento de Contrato PAC</h5>
            <button type="button" class="close" id="btnCloseModal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="accordion" id="accordionDatos">
                    <div class="card card-light">
                        <div class="card-header" data-toggle="collapse" data-target="#collapseContrato" aria-expanded="true">
                            <span class="title">Datos del contrato </span>
                            <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                        </div>
                        <div id="collapseContrato" class="collapse show" data-parent="#accordionDatos">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>COD CONTRATO:<b style="color:red">*</b></label>
                                            <input type="text" id="TXT_COD_CONTRATO" name="TXT_COD_CONTRATO" class="form-control" value="@Model.COD_CONTRATO" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>ALTERTA LA:</label>
                                            <select id="TXT_ALERTA_LA" data-bind="value:@Model.ESTADO" class="form-control">
                                                <option value="SI">SI</option>
                                                <option value="NO">NO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>ALTERTA LA PERSONA:</label>
                                            <input type="text" id="TXT_ALERTA_LA_PERSONA" name="TXT_ALERTA_LA_PERSONA" class="form-control" value="@Model.ALERTA_LA_PERSONA" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>FECHA REGISTRO:<b style="color:red">*</b></label>
                                            <input type="date" id="TXT_FEC_REGISTRO" name="TXT_FEC_REGISTRO" class="form-control" value="@DateTime.Parse(Model.FEC_REGISTRO).ToString("yyyy-MM-dd")" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>MODALIDAD:</label>
                                            <input type="text" id="TXT_MODALIDAD" name="TXT_MODALIDAD" class="form-control" value="@Model.MODALIDAD" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>NRO EXPEDIENTE SISPER:</label>
                                            <input type="text" id="TXT_NRO_EXP_SISPER" name="TXT_NRO_EXP_SISPER" class="form-control" value="@Model.NRO_EXP_SISPER" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>ESTADO:<b style="color:red">*</b></label>
                                            <select id="TXT_ESTADO" data-bind="value:@Model.ESTADO" class="form-control">
                                                <option value="A">ACTIVO</option>
                                                <option value="I">INACTIVO</option>
                                                <option value="D">DEVOLUCIÓN</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>FEC DOC SOLICITA REG:</label>
                                            <input type="date" id="TXT_FEC_DOC_SOLICITA_REG" name="TXT_FEC_DOC_SOLICITA_REG" class="form-control" value="@DateTime.Parse(Model.FEC_DOC_SOLICITA_REG).ToString("yyyy-MM-dd")" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>TIPO DOC SOLICITA REG:</label>
                                            <input type="text" id="TXT_TIPO_DOC_SOLICITA_REG" name="TXT_TIPO_DOC_SOLICITA_REG" class="form-control" value="@Model.TIPO_DOC_SOLICITA_REG" />
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>NIVEL GOBIERNO:<b style="color:red">*</b></label>
                                            <select id="TXT_NIVEL_GOBIERNO" data-bind="value:@Model.NIVEL_GOBIERNO" class="form-control">
                                                <option value="1">GOBIERNO NACIONAL</option>
                                                <option value="2">GOBIERNO REGIONAL</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>ENTIDAD:<b style="color:red">*</b></label>
                                            <select name="DdlEntidadModal" id="DdlEntidadModal" class="form-control" value="@Model.ENTIDAD_BENEF"></select>
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>HR DOC SOLICITA REG:</label>
                                            <input type="text" id="TXT_HR_DOC_SOLICITA_REG" name="TXT_HR_DOC_SOLICITA_REG" class="form-control" value="@Model.HR_DOC_SOLICITA_REG" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>DOC RES MINISTERIAL:</label>
                                            <input type="text" id="TXT_DOC_RES_MINISTERIAL" name="TXT_DOC_RES_MINISTERIAL" class="form-control" value="@Model.DOC_RES_MINISTERIAL" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>ENTIDAD_BENEF:<b style="color:red">*</b></label>
                                            <select name="DdlEntidadModal2" id="DdlEntidadModal2" class="form-control" value="@Model.ENTIDAD_BENEF"></select>
                                            <input type="hidden" id="txtEntidadBenef" name="txtEntidadBenef" class="form-control" value="@Model.ENTIDAD_BENEF" />
                                        </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>CARGO_FUNCIONARIO_SUSCRIBE:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_CARGO_FUNCIONARIO_SUSCRIBE" name="TXT_CARGO_FUNCIONARIO_SUSCRIBE" class="form-control" value="@Model.CARGO_FUNCIONARIO_SUSCRIBE" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>IMPORTE HONORARIO:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_IMPORTE_HONORARIO" name="TXT_IMPORTE_HONORARIO" class="form-control" value="@Model.IMPORTE_HONORARIO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>FEC_SUSCRIPCION:</label>
                                                <input type="date" id="TXT_FEC_SUSCRIPCION" name="TXT_FEC_SUSCRIPCION" class="form-control" value="@DateTime.Parse(Model.FEC_SUSCRIPCION).ToString("yyyy-MM-dd")" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>FEC INICIO:<b style="color:red">*</b></label>
                                                <input type="date" id="TXT_FEC_INICIO" name="TXT_FEC_INICIO" class="form-control" value="@DateTime.Parse(Model.FEC_INICIO).ToString("yyyy-MM-dd")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>FEC CULMINACION:<b style="color:red">*</b></label>
                                                <input type="date" id="TXT_FEC_CULMINACION" name="TXT_FEC_CULMINACION" class="form-control" value="@DateTime.Parse(Model.FEC_CULMINACION).ToString("yyyy-MM-dd")" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>FEC RECEPCION:</label>
                                                <input type="date" id="TXT_FEC_RECEPCION" name="TXT_FEC_RECEPCION" class="form-control" value="@(Model.FEC_RECEPCION == null ? "" : DateTime.Parse(Model.FEC_RECEPCION).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>FEC_CULMINACION_CONTRATO:</label>
                                                <input type="date" id="TXT_FEC_CULMINACION_CONTRATO" name="TXT_FEC_CULMINACION_CONTRATO" class="form-control" value="@(Model.FEC_CULMINACION_CONTRATO == null ? "" : DateTime.Parse(Model.FEC_CULMINACION_CONTRATO).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>RES CONTRATO_DOC: </label>
                                                <input type="text" id="TXT_RES_CONTRATO_DOC" name="TXT_RES_CONTRATO_DOC" class="form-control" value="@Model.RES_CONTRATO_DOC" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>RES CONTRATO HR:</label>
                                                <input type="text" id="TXT_RES_CONTRATO_HR" name="TXT_RES_CONTRATO_HR" class="form-control" value="@Model.RES_CONTRATO_HR" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-light">
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseEduacion" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="title">Datos profesionales</span>
                                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </div>
                            <div id="collapseEduacion" class="collapse" data-parent="#accordionDatos">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>GRADO_ACADEMICO_ESP:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_GRADO_ACADEMICO_ESP" name="TXT_GRADO_ACADEMICO_ESP" class="form-control" value="@Model.GRADO_ACADEMICO_ESP" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>GRADO ACADEMICO GEN:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_GRADO_ACADEMICO_GEN" name="TXT_GRADO_ACADEMICO_GEN" class="form-control" value="@Model.GRADO_ACADEMICO_GEN" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>UNIVERSIDAD:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_UNIVERSIDAD" name="TXT_UNIVERSIDAD" class="form-control" value="@Model.UNIVERSIDAD" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label>CARRERA_PROFESIONAL:</label>
                                                <input type="text" id="TXT_CARRERA_PROFESIONAL" name="TXT_CARRERA_PROFESIONAL" class="form-control" value="@Model.CARRERA_PROFESIONAL" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>FISCAL_POST:</label>
                                                <input type="text" id="TXT_FISCAL_POST" name="TXT_FISCAL_POST" class="form-control" value="@Model.FISCAL_POST" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>EXP_LAB_GENERAL:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_EXP_LAB_GENERAL" name="TXT_EXP_LAB_GENERAL" class="form-control" value="@Model.EXP_LAB_GENERAL" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>EXP LAB ESPECIFICA:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_EXP_LAB_ESPECIFICA" name="TXT_EXP_LAB_ESPECIFICA" class="form-control" value="@Model.EXP_LAB_ESPECIFICA" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>RES_CONTRATO_FEC_CULM:</label>
                                                <input type="date" id="TXT_RES_CONTRATO_FEC_CULM" name="TXT_RES_CONTRATO_FEC_CULM" class="form-control" value="@(Model.RES_CONTRATO_FEC_CULM == null ? "" : DateTime.Parse(Model.RES_CONTRATO_FEC_CULM).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-light">
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseAdenda" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="title">Adenda Vigente</span>
                                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </div>
                            <div id="collapseAdenda" class="collapse" data-parent="#accordionDatos">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>NRO. OFICIO:</label>
                                                <input type="text" id="TXT_NRO_OFICIO" name="TXT_NRO_OFICIO" class="form-control" value="@Model.NRO_OFICIO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>EXP. REMITIDO:</label>
                                                <select id="TXT_EXP_REMITIDO" data-bind="value:@Model.EXP_REMITIDO" class="form-control">
                                                    <option value="FISICO">FÍSICO</option>
                                                    <option value="VIRTUAL">VIRTUAL</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>ADENDA VIG DOC SOL:</label>
                                                <input type="text" id="TXT_ADENDA_VIG_DOC_SOL" name="TXT_ADENDA_VIG_DOC_SOL" class="form-control" value="@Model.ADENDA_VIG_DOC_SOL" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>ADENDA VIG NRO:</label>
                                                <input type="text" id="TXT_ADENDA_VIG_NRO" name="TXT_ADENDA_VIG_NRO" class="form-control" value="@Model.ADENDA_VIG_NRO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>ADENDA_VIG_FEC_INICIO:</label>
                                                <input type="date" id="TXT_ADENDA_VIG_FEC_INICIO" name="TXT_ADENDA_VIG_FEC_INICIO" class="form-control" value="@(Model.ADENDA_VIG_FEC_INICIO == null ? "" : DateTime.Parse(Model.ADENDA_VIG_FEC_INICIO).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>ADENDA VIG FEC FIN:</label>
                                                <input type="date" id="TXT_ADENDA_VIG_FEC_FIN" name="TXT_ADENDA_VIG_FEC_FIN" class="form-control" value="@(Model.ADENDA_VIG_FEC_FIN == null ? "" : DateTime.Parse(Model.ADENDA_VIG_FEC_FIN).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>ADENDA_VIG_HOJARUTA:</label>
                                                <input type="text" id="TXT_ADENDA_VIG_HOJARUTA" name="TXT_ADENDA_VIG_HOJARUTA" class="form-control" value="@Model.ADENDA_VIG_HOJARUTA" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>TNOT_FEC_RECEPCION:</label>
                                                <input type="date" id="TXT_NOT_FEC_RECEPCION" name="TXT_NOT_FEC_RECEPCION" class="form-control" value="@(Model.NOT_FEC_RECEPCION == null ? "" : DateTime.Parse(Model.NOT_FEC_RECEPCION).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>NOT DOCUMENTO:</label>
                                                <input type="text" id="TXT_NOT_DOCUMENTO" name="TXT_NOT_DOCUMENTO" class="form-control" value="@Model.NOT_DOCUMENTO" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-light">
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="title">Datos personales</span>
                                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </div>
                            <div id="collapsePersonal" class="collapse" data-parent="#accordionDatos">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>APELLIDO PATERNO:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_APELLIDO_PATERNO" name="TXT_APELLIDO_PATERNO" class="form-control" value="@Model.APELLIDO_PATERNO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>APELLIDO MATERNO:</label>
                                                <input type="text" id="TXT_APELLIDO_MATERNO" name="TXT_APELLIDO_MATERNO" class="form-control" value="@Model.APELLIDO_MATERNO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>NOMBRES:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_NOMBRES" name="TXT_NOMBRES" class="form-control" value="@Model.NOMBRES" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>DNI:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_DNI" name="TXT_DNI" class="form-control" value="@Model.DNI" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>RUC:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_RUC" name="TXT_RUC" class="form-control" value="@Model.RUC" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>SEXO:<b style="color:red">*</b></label>
                                                <select id="TXT_SEXO" data-bind="value:@Model.SEXO" class="form-control">
                                                    <option value="M">MASCULINO</option>
                                                    <option value="F">FEMENINO</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>FECHA NACIMIENTO:<b style="color:red">*</b><b style="color:red">*</b></label>
                                                <input type="date" id="TXT_FEC_NACIMIENTO" name="TXT_FEC_NACIMIENTO" class="form-control" value="@(Model.FEC_NACIMIENTO == null ? "" : DateTime.Parse(Model.FEC_NACIMIENTO).ToString("yyyy-MM-dd"))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>EDAD:</label>
                                                <input type="number" id="TXT_EDAD" name="TXT_EDAD" class="form-control" value="@Model.EDAD" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>NACIONALIDAD:</label>
                                                <input type="text" id="TXT_NACIONALIDAD" name="TXT_NACIONALIDAD" class="form-control" value="@Model.NACIONALIDAD" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>TELEFONO CELULAR:</label>
                                                <input type="text" id="TXT_TELEFONO_CELULAR" name="TXT_TELEFONO_CELULAR" class="form-control" value="@Model.TELEFONO_CELULAR" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>PADRE:</label>
                                                <input type="text" id="TXT_PADRE" name="TXT_PADRE" class="form-control" value="@Model.PADRE" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>CORREO_ELECTRONICO:</label>
                                                <input type="text" id="TXT_CORREO_ELECTRONICO" name="TXT_CORREO_ELECTRONICO" class="form-control" value="@Model.CORREO_ELECTRONICO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>DIRECCION:</label>
                                                <input type="text" id="TXT_DIRECCION" name="TXT_DIRECCION" class="form-control" value="@Model.DIRECCION" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Region</label>
                                                @Html.DropDownListFor(M => M.REGION, Model.ListaDpto, new { @class = "form-control" })

                                                @*<select id="lstRegion" name="lstRegion" class="form-control"></select>
                <input type="hidden" id="txtRegion" name="txtRegion" class="form-control" value="@Model.REGION" />*@
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Provincia</label>
                                                <select name="COD_PROVINCIA" id="COD_PROVINCIA" class="form-control" data-width="100%">
                                                    <option value="">-- Seleccione --</option>
                                                </select>
                                                <input type="hidden" id="txtProvincia" name="txtProvincia" class="form-control" value="@Model.PROVINCIA" />
                                                @*<select id="lstProvincia" name="lstProvincia" class="form-control"></select>
                <input type="hidden" id="txtProvincia" name="txtProvincia" class="form-control" value="@Model.PROVINCIA" />*@
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Distrito</label>
                                                <select name="COD_DISTRITO" id="COD_DISTRITO" class="form-control" data-width="100%">
                                                    <option value="">-- Seleccione --</option>
                                                </select>
                                                <input type="hidden" id="txtDistrito" name="txtDistrito" class="form-control" value="@Model.DISTRITO" />
                                                @*<select id="lstDistrito" name="lstDistrito" class="form-control"></select>
                <input type="hidden" id="txtDistrito" name="txtDistrito" class="form-control" value="@Model.DISTRITO" />*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-light">
                            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseFinanciero" aria-expanded="false">
                                <span class="title">Datos Financieros</span>
                                <span class="accicon"><i class="fas fa-angle-down rotate-icon"></i></span>
                            </div>
                            <div id="collapseFinanciero" class="collapse" data-parent="#accordionDatos">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>SEC RESPONSABLE:</label>
                                                <input type="text" id="TXT_SEC_RESPONSABLE" name="TXT_SEC_RESPONSABLE" class="form-control" value="@Model.SEC_RESPONSABLE" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>ENT FIN NOMBRE:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_ENT_FIN_NOMBRE" name="TXT_ENT_FIN_NOMBRE" class="form-control" value="@Model.ENT_FIN_NOMBRE" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>ENT FIN CTA AHORRO:<b style="color:red">*</b></label>
                                                <input type="text" id="TXT_ENT_FIN_CTA_AHORRO" name="TXT_ENT_FIN_CTA_AHORRO" class="form-control" value="@Model.ENT_FIN_CTA_AHORRO" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>PJE PUESTO:</label>
                                                <input type="text" id="TXT_PJE_PUESTO" name="TXT_PJE_PUESTO" class="form-control" value="@Model.PJE_PUESTO" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer justify-content-between">
                <p class="text-danger mr-auto">(*) Datos Obligatorios</p>
                <button id="btnGrabar" class="btn btn-danger" type="button"><i class="clip-checkmark-circle"></i><b id="lbGrabarExpediente">Actualizar</b></button>
                <button id="btnSalirModal" name="btnSalirModal" class="btn btn-dark" type="button" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
    <script src="@Url.Content("~/Scripts/js/Carga/CargaMantenimiento.js?v=" + DateTime.Now.ToString("yyyymmddhhmmss"))" type="text/javascript"></script>
    <script type="text/javascript">
        //Carga.ModalIniciar();
    </script>
    <script type="text/javascript">
        //Validando numeros
        $("#TXT_NRO_EXP_SISPER,#TXT_NIVEL_GOBIERNO,#TXT_GRADO_ACADEMICO_GEN,#TXT_ENT_FIN_CTA_AHORRO,#TXT_GRADO_ACADEMICO_ESP,#TXT_EXP_LAB_GENERAL,#TXT_EXP_LAB_GENERAL,#TXT_EXP_LAB_ESPECIFICA,#TXT_DNI,#TXT_RUC,#TXT_EDAD,#TXT_TELEFONO_CELULAR").on('keypress', function (e) {
            DESARROLLO.SOLONUMEROS(e);
        });
        //Validando decimales
        $("#TXT_IMPORTE_HONORARIO").on('keypress', function (e) {
            DESARROLLO.NUMERODECIMAL(e);
        });
        jQuery("#btnGrabar").click(function (e) {
            DESARROLLO.PROCESO_CONFIRM("</br>¿Desea <b>Actualizar</b> el registro seleccionado.? </br>", function (r) {
                if (r) {
                    CargaMantenimiento.fn_Mantenimiento_PAC(@(ViewBag.ID_REGISTRO));
                }
            });

        });
    </script>
