@model MEF.PROYECTO.Entity.Personal.Cls_Ent_Especializacion
@{
    ViewBag.Title = "MantenimientoEspecializacon";
}

@using (Html.BeginForm("PersonalController", "MantenimientoEspecializacon", new { @area = "Usuario" }, FormMethod.Post, new { @id = "frmNuevoEspecializacion", @class = "form-horizontal", @Role = "dialog" }))
{
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                @if (Model.ACCION == "I")
                {<h5 class="modal-title">Añadir Especialización</h5> }
                else
                { <h5 class="modal-title"> Actualizar Especialización</h5>}

                <button type="button" class="close" onclick="fn_CerrarEspecializacion();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label for="ID_NIVEL_ACADEMICO" class="col-sm-3 col-form-label text-right">Tipo Especialización:<b style="color:red">*</b></label>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(m => m.ID_TIPO_ESPECIALIZACION, Model.ListaTipoEspecializacion, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DESC_CENTRO_ESTUDIOS" class="col-sm-3 col-form-label text-right">Nombre:  <b style="color:red">*</b></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.NOMBRE_ESPECIALIZACION, new { @class = "form-control", @placeholder = "Ingrese aquí el nombre del: Curso, Especialización etc." })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FEC_INICIO_FORMAC_ACADEMICA" class="col-sm-3 col-form-label text-right">Fecha Inicio:  <b style="color:red">*</b></label>
                    <div class="col-sm-4">
                        @if (Model.ACCION == "U")
                        {<input type="text" class="form-control datetimepicker-input" id="FEC_INICIO" name="FEC_INICIO" data-toggle="datetimepicker" data-target="#FEC_INICIO" value="@Model.FEC_INICIO_ESPECIALIZACION" onchange="Valid_Fechas()" /> }
                        else
                        {<input type="text" class="form-control datetimepicker-input" id="FEC_INICIO" name="FEC_INICIO" data-toggle="datetimepicker" data-target="#FEC_INICIO" onchange="Valid_Fechas()" />}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="FEC_INICIO_FORMAC_ACADEMICA" class="col-sm-3 col-form-label text-right">Fecha Término:  <b style="color:red">*</b></label>
                    <div class="col-sm-4">
                        @if (Model.ACCION == "U")
                        {<input type="text" class="form-control datetimepicker-input" id="FEC_FIN" name="FEC_FIN" data-toggle="datetimepicker" data-target="#FEC_FIN" value="@Model.FEC_FIN_ESPECIALIZACION" onchange="Valid_Fechas()" /> }
                        else
                        {<input type="text" class="form-control datetimepicker-input" id="FEC_FIN" name="FEC_FIN" data-toggle="datetimepicker" data-target="#FEC_FIN" onchange="Valid_Fechas()" />}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="HORAS" class="col-sm-3 col-form-label text-right">Horas:  <b style="color:red"></b></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.HORAS, new { @class = "form-control", @placeholder = "Total horas lectivas. Mínimo 90 horas en los últimos 10 años.", onkeypress = "DESARROLLO.SOLONUMEROS(event);", onchange = "ValorMinimo(event);", })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DESC_CENTRO_ESTUDIOS" class="col-sm-3 col-form-label text-right">Institución:  <b style="color:red">*</b></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.DESC_CENTRO_ESTUDIOS, new { @class = "form-control", @placeholder = "Ingrese aquí el nombre del: Instituto, Universidad, etc." })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="DESC_CENTRO_ESTUDIOS" class="col-sm-3 col-form-label text-right">Ciudad/País:  <b style="color:red">*</b></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(m => m.NOMBRE_CIUDAD_PAIS, new { @class = "form-control", @placeholder = "Ingrese aquí el nombre de la : Ciudad/País (Lima/Perú)" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right">

                                Adjuntar Documento: <b style="color:red">*</b>
                            </label>
                            @if (Model.ACCION == "U")
                            {

                                <div class="col-sm-9" id="DivMuestraAr">
                                    <a title='Descargar archivo' onclick='fn_DescargarArchivo(@Model.ARCHIVO);' style="font-size: 20px; color:#0093F8; font-weight: bold; cursor: pointer"><i class="fas fa-download"></i> <small style="font-size:13px;font-weight:bold">Descargar archivo</small></a>
                                    <a title='Eliminar archivo' onclick='fn_Eliminararchivoespecializacion();' style="font-size: 20px; color: #e30613; font-weight: bold; cursor: pointer"><i class="fas fa-times-circle"></i> <small style="font-size:13px;font-weight:bold">Eliminar archivo</small></a>

                                </div>
                                <div class="col-sm-9" id="DivAdjuntarar" style="display:none">
                                    <div class="control">
                                        <input class="file" name="fileArchivo" id="fileArchivo" type="file" />
                                        <label for="fileArchivo"><span>Seleccionar Archivo</span><br /><span id="archivo_adjuntado">0 Archivos</span></label>
                                    </div>
                                    <small id="LblfileArchivo" style="color:red;font-weight:600"></small>
                                </div>
                            }
                            else
                            {


                                <div class="col-sm-9">
                                    <div class="control">
                                        <input class="file" name="fileArchivo" id="fileArchivo" type="file" />
                                        <label for="fileArchivo"><span>Seleccionar Archivo</span><br /><span id="archivo_adjuntado">0 Archivos</span></label>
                                    </div>
                                    <small id="LblfileArchivo" style="color:red;font-weight:600"></small>
                                </div>



                            }
                        </div>
                    </div>
                </div>
                <div class="callout callout-danger">
                    <h5>Nota:</h5>
                    <ol>
                        <li>
                            Las especializaciones deben ser como mínimo 90 horas selectivas de los últimos 10 años.
                        </li>
                    </ol>
                </div>
            </div>

            <div class="modal-footer justify-content-between">

                <p class="text-danger mr-auto">(*) Datos Obligatorios</p>
                @if (Model.ACCION == "I")
                {<button id="btnGrabarEspecializacion" class="btn btn-danger " type="button">Grabar</button>
                }
                else
                {<button id="btnGrabarEspecializacion" class="btn btn-danger " type="button">Actualizar</button>
                }
                <button type="button" class="btn btn-dark " onclick="fn_CerrarEspecializacion();">Cancelar</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="inputVerificaDelete" value="0" />
    <div class="modal" id="myModalCargando" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 1051; padding-top: 300px; background-color: rgba(1,1,1,0.2);">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-danger" style="width: 3.5rem; height: 3.5rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <label style="font-weight:600;color:white;width:100%;text-align:center;font-size:1.2rem">Cargando..</label>
    </div>
}
@Html.HiddenFor(m => m.ID_ESPECIALIZACION)
@Html.HiddenFor(m => m.ACCION)
@Html.HiddenFor(m => m.ARCHIVO)
<script type="text/javascript">
    $(function () {
        $('#FEC_FIN').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es',
            maxDate: new Date(),
            setDate: new Date(),
            autoclose: true,
        });
        $('#FEC_INICIO').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'es',
            maxDate: new Date(),
        });
    });

    function ValorMinimo(e) {
        var val = e.target.value;
        if (val<90) {
            $(this).val('');
            DESARROLLO.PROCESO_ALERT('Alerta', "Las especializaciones deben ser de mínimo 90 horas.");
            return false
        }
    
    };

    $("#fileArchivo").change(function (e) {
        var val = $(this).val();
        var input = document.getElementById('fileArchivo');
        var file = input.files[0];
        var filename = e.target.files[0].name;
        if (file.size > 11534300) {
            $(this).val('');
            DESARROLLO.PROCESO_ALERT('Alerta', "El archivo que está subiendo pesa más de 10Mb");
            return false
        }
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'pdf':

                if (DESARROLLO.VALIDAR_CONTEN_PDF("fileArchivo")) {
                    $('#archivo_adjuntado').text(filename);
                    return true;
                }
                break;
            default:
                $(this).val('');
                DESARROLLO.PROCESO_ALERT('Alerta', "formato de archivo no válido, solo se permite archivos .pdf");
                break;
        }
    });
    $("#frmNuevoEspecializacion").validate({
        rules: {

            "ID_TIPO_ESPECIALIZACION": {
                required: true,
            },
            "NOMBRE_ESPECIALIZACION": {
                required: true,
            },
            "FEC_INICIO": {
                required: true,
            },
            "FEC_FIN": {
                required: true,
            },
            "DESC_CENTRO_ESTUDIOS": {
                required: true,
            },
            "NOMBRE_CIUDAD_PAIS": {
                required: true,
            },
            "HORAS": {
                number: true,
                min: 1
            },

        },
        errorElement: "input",
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
    jQuery("#btnGrabarEspecializacion").click(function (e) {
        var text = ($("#ID_FORMAC_ACADEMICA").val() == 0 || $("#ID_FORMAC_ACADEMICA").val() == undefined) ? "</br>¿Desea <b> Registrar</b> especialización.? </br >" : "</br>¿Desea <b> Actualizar</b> especialización.? </br >";
        if ($("#frmNuevoEspecializacion").valid()) {
            if (ValidateArchivos()) {
                DESARROLLO.PROCESO_CONFIRM(text, function (r) {
                    if (r) {
                        $("#myModalCargando").fadeIn(100, function () {
                            fn_MantenimientoEspecializacion();
                        });
                    }
                });
            }
        }
    });
    function ValidateArchivos() {
        var result = true;
        if ($("#inputVerificaDelete").val() == "1") {
            if ($('#fileArchivo')[0].files.length === 0) { $("#LblfileArchivo").text("Es necesario que adjunte el documento."); result = false; } else { $("#LblfileArchivo").text(""); }
        } else {
            if ($("#ID_ESPECIALIZACION").val() == 0) {
                if ($('#fileArchivo')[0].files.length === 0) { $("#LblfileArchivo").text("Es necesario que adjunte el documento."); result = false; } else { $("#LblfileArchivo").text(""); }
            }
        }
        return result;
    }
    function Valid_Fechas() {
        
        var ini = $("#FEC_INICIO").val();
        var fini = $("#FEC_FIN").val();
        if (ini != '' && fini != '') {
            
            if (DESARROLLO.VALIDAR_FECHAS_I_F(ini, fini) == false) {
                $("#FEC_INICIO").val('');
                $("#FEC_FIN").val('');
            }
        }
    }
</script>