@model APP.MEF.EXTRANET.FAG.PAG.Areas.Coordinador.Models.BusquedaModelView
@{
    ViewBag.Title = "Ver_Adenda";
}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-danger">
            <h5 class="modal-title">
                <label>@Model.ACCION </label>
            </h5>
            <button type="button" class="close" aria-label="Close" onclick="fn_CerrarAdenda()">
                <span aria-hidden="true" style="color:white">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="contenedor-responsive">
                <iframe src="@Url.Content("~")Reportes/frmReportAdenda.aspx?ID=@Model.ID&TIPO=@Model.FLG_TIPO" height="400" width="100%" frameborder="0" allowfullscreen="" marginwidth="0" marginheight="0" style="background: #949494;"> [ ..:: CARGANDO REPORTE ::.. ] </iframe>

            </div>
            @if (Model.FLG_TIPO == "F")
            {
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Adjuntar Documento Firmado:<b style="color:red">*</b></label>
                            @if (Model.ID_ARCHIVO != 0)
                            {
                                <div class="control" id="DivMuestraAr">
                                    <a title='Descargar archivo' onclick='fn_DescargarArchivo(@Model.ID_ARCHIVO);' style="font-size: 20px; color:#0093F8; font-weight: bold; cursor: pointer"><i class="fas fa-download"></i> <small style="font-size:13px;font-weight:bold">Descargar archivo</small></a>
                                    <a title='Eliminar archivo' onclick='fn_EliminarArchivo();' style="font-size: 20px; color: #e30613; font-weight: bold; cursor: pointer"><i class="fas fa-times-circle"></i> <small style="font-size:13px;font-weight:bold">Eliminar archivo</small></a>

                                </div>

                                <div class="control" id="DivAdjuntarar" style="display:none">
                                    <input class="file" name="FileArchivo" id="FileArchivo" type="file" />
                                    <label for="FileArchivo"><span>Seleccionar Archivo</span><br /><span id="archivo_adjuntado">0 Archivos</span></label>
                                </div>
                                <small id="LblfileArchivo" style="color:red;font-weight:600"></small>

                            }
                            else
                            {
                                <div class="control">
                                    <input class="file" name="FileArchivo" id="FileArchivo" type="file" />
                                    <label for="FileArchivo"><span>Seleccionar Archivo</span><br /><span id="archivo_adjuntado">0 Archivos</span></label>
                                    <small id="LblfileArchivo" style="color:red;font-weight:600"></small>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="modal-footer justify-content-between">
            <p class="text-danger mr-auto"></p>
            @if (Model.FLG_TIPO == "F")
            {
                <button id="btnGrabarAdenda" class="btn btn-danger" type="button"><i class="clip-checkmark-circle"></i><b id="lbGrabarExpediente">Grabar Documento</b></button>
            }
            <button class="btn btn-dark" type="button" onclick="fn_CerrarAdenda()">Cancelar</button>
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.ID)
@Html.HiddenFor(m => m.ID_ARCHIVO)
@Html.HiddenFor(m => m.ID_SOLICITUD)
@Html.HiddenFor(m => m.FLG_TIPO)
<input type="hidden" id="inputVerificaDelete" value="0" />

<script type="text/javascript">
    $("#FileArchivo").change(function (e) {
        var val = $(this).val();
        var input = document.getElementById('FileArchivo');
        var file = input.files[0];
        var filename = e.target.files[0].name;
        if (file.size > 11534300) {
            $(this).val('');
            DESARROLLO.PROCESO_ALERT('Alerta', "El archivo que está subiendo pesa más de 10Mb");
            return false
        }
        switch (val.substring(val.lastIndexOf('.') + 1).toLowerCase()) {
            case 'pdf':
                if (DESARROLLO.VALIDAR_CONTEN_PDF("FileArchivo")) {
                    $('#archivo_adjuntado').text(filename);
                    return true;
                }
                break;
            default:
                $(this).val('');
                DESARROLLO.PROCESO_ALERT('Alerta', "formato de archivo no válido, solo se permite archivos .pdf");
                break;
        }
    });
    jQuery("#btnGrabarAdenda").click(function (e) {
        if (ValidateArchivosAdenda()) {
            DESARROLLO.PROCESO_CONFIRM("Desea registrar el documento firmado", function (r) {
                if (r) {
                    fn_UpdArchivoAdenda();
                }
            });
        }
    });
</script>